.card-mesto__desc-like {
    width: 22px;
    height: 19px;
    cursor: pointer;

    border: 0;
    background-color: rgba(255, 255, 255, 0);

    background-image: url(../../../Images/Heart_disabled.svg);
}

.card-mesto__desc-like:hover {
    opacity: 0.5;
    transition: opacity 0.15s linear;
}

/*RIP здесь был .card-mesto__desc-like:active RIP*/

