.card-mesto__desc {
    margin: 0;
    
    box-sizing: border-box;
    padding: 22px 15px 31px 21px;

    display: flex;
    justify-content: space-between;
    -ms-flex-align: end;
    align-items: center;
}