.popup__input {
    border: none;
    margin: 0px;
    padding-bottom: 13px;
}

.popup__input::placeholder {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}