.popup__input {
    margin: 0px;
    /*margin-bottom: 30px;
    padding-bottom: 11px;*/

    width: 100%;
    outline: 0;
    border: 0;
}

.popup__input::placeholder {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

   /* padding-bottom: 10px;*/
    /*border-bottom: 1px solid rgba(0, 0, 0, .2);*/
}