.card-mesto__img {
    margin: 0;
    max-width: 100%;
    aspect-ratio: 1/1;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;

    filter: brightness(1);
    transition: filter 0.15s linear;
    cursor: pointer;
}
.card-mesto__img:hover {
    filter: brightness(0.8);
    transition: filter 0.15s linear;
}