.button-submit {
    margin: 28px 0 0 0;
    padding: 0;

    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    border-radius: 2px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border-style: none;
    cursor: pointer;
}

.button-submit:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width:579px) {
    .button-submit {
        height: 46px;

        margin-top: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}