/*V нужен чтобы содержимое блока не разьезжалось в колонке, а осталось в одном ряду V*/

.profile__correct-cont {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .profile__correct-cont {
        padding-bottom: 0;
    }
}