@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/*body*/
@import url(../blocks/body/body.css);
@import url(../blocks/main/main.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/logo-mesto/logo-mesto.css);

/*pofile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__profile-info/profile__profile-info.css);
@import url(../blocks/profile/__correct-cont/profile__correct-cont.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about-me/profile__about-me.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__big-button/profile__big-button.css);


/*photo-grid*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/card-mesto/card-mesto.css);

@import url(../blocks/card-mesto/__img/card-mesto__img.css);
@import url(../blocks/card-mesto/__desc/card-mesto__desc.css);
@import url(../blocks/card-mesto/__desc-header/card-mesto__desc-header.css);
@import url(../blocks/card-mesto/__desc-like/card-mesto__desc-like.css);
@import url(../blocks/card-mesto/__desc-like/card-mesto__desc-like_active.css);
@import url(../blocks/card-mesto/__trash/card-mesto__trash.css);

/*popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__edit-value/popup__edit-value.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_error/popup__input_error.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__container-img/popup__container-img.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__img/popup__popup__img.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__span-error/popup__span-error.css);
@import url(../blocks/popup/__span-error/_hide/popup__span-error_hide.css);

@import url(../blocks/button-submit/button-submit.css);
@import url(../blocks/button-submit/_inactive/button-submit_inactive.css);
@import url(../blocks/button-submit/_active/button-submit_active.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../blocks/profile/__edit-avatar/profile__edit-avatar.css);

.popup__container_sizeM {
    min-height: 272px;
}
.card-mesto__like-count {
margin: 0;
padding: 0;
text-align: center;
}
.card-mesto__like-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
