.header__logo-mesto {
    padding: 45px 19px 31px;
    max-width: 142px;
    height: 33px;

    background-image: url(../../../Images/Mesto.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .header__logo-mesto {
        margin-left: 27px;
        width: 103.74px;
        height: 24.4px;
    }
}