.popup__caption {
    margin: 0;
    padding-top: 10px;
    align-self: flex-start;
    box-sizing: border-box;


    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 1);
}