.profile__about-me {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__about-me {
        padding-bottom: 36px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}